name: I2::CI::check_for_incorrect_images

on: workflow_dispatch

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Python 3.11
        uses: actions/setup-python@v1
        with:
          python-version: "3.11"
      - uses: actions/checkout@v3
      - name: Check containers
        run: |
          pip install -r .github/scripts/ci_test/requirements.txt --no-input
          python .github/scripts/ci_test/ci_image_scan.py